In [1]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

In [2]:
path = 'data/classic_rock.db'
con = sq3.Connection(path)

In [3]:
query = '''
SELECT * 
FROM rock_songs;
'''
observations = pds.read_sql(query, con)
observations.head()

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13